* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Barlow Semi Condensed", sans-serif;
}

:root {
	--scissors-gradient-1: #ec9e0e;
	--scissors-gradient-2: #eca922;

	--paper-gradient-1: #4865f4;
	--paper-gradient-2: #5671f5;

	--rock-gradient-1: #dc2e4e;
	--rock-gradient-2: #dd405d;

	--lizard-gradient-1: #834fe3;
	--lizard-gradient-2: #8c5de5;

	--cyan-gradient-1: #40b9ce;
	--cyan-gradient-2: #52bed1;

	--neutral-dark-text: #3b4363;
	--neutral-score-text: #2a46c0;
	--neutral-header-outline: #606e85;

	--background-gradient-1: #1f3756;
	--background-gradient-2: #141539;

	--border-size: 23px;
}
