.button-container {
	text-align: right;
	position: fixed;
	right: 50px;
	bottom: 150px;
}

.button-container > button {
	font-family: "Barlow Semi Condensed", sans-serif;
	color: white;
	background: transparent;
	height: 40px;
	width: 140px;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 8px;
	border: 1px solid white;
	cursor: pointer;
	outline: none;
}

.button-container > button:hover {
	background: white;
	color: hsl(229, 64%, 46%);
	transition: all 0.3s ease;
}
