.wrapper-rps-btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4.7rem;
	margin-bottom: 2rem;
	position: relative;
}

.wrapper-rps-btns button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
	z-index: 2;
}

.pentagon {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 80px;
}

.pentagon img {
	height: 100%;
	padding: 70px;
}

.wrapper-paper img,
.wrapper-scissors img {
	height: 80px;
}
.wrapper-rock img {
	width: 70px;
}

.top-row {
	margin-bottom: 4rem;
	display: flex;
}

.bottom-row {
	margin-bottom: 1rem;
}

.custom-padding {
	margin-right: 7rem;
}

.wrapper-paper,
.wrapper-scissors,
.wrapper-rock {
	border-radius: 50%;
	width: 185px;
	height: 185px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-clip: padding-box;
	background: white;
	padding: 2em;
	position: relative;
	box-shadow: 0 10px 0.5px -2px rgba(0, 0, 0, 0.15) inset;
}

/* .wrapper-paper:before,
.wrapper-scissors:before,
.wrapper-rock:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -3;
	margin: -23px;
	border-radius: 200px;
} */

.wrapper-paper {
	border: 20px solid hsl(230, 89%, 65%);
	box-shadow: 0 10px 0px -1px #2945c5;
}

.wrapper-scissors {
	border: 20px solid hsl(40, 84%, 53%);
	box-shadow: 0 10px 0 -1px #c96c1b;
}

.wrapper-rock {
	border: 20px solid hsl(349, 70%, 56%);
	box-shadow: 0 10px 0 -1px #9a1e34;
}
