.match {
	display: grid;
	grid-template-areas: 1fr 1fr;
	margin: 50px auto;
	width: 850px;
	grid-gap: 50px;
}

.match > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.match .pick > div:first-child {
	margin-bottom: 80px;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 2px;
	z-index: 1;
}

#myPick,
#housePick {
	background: white;
	width: 250px;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 30px solid;
	position: relative;
}

.pick {
	position: relative;
}

.emptyPick {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: hsl(214, 54%, 14%);
	position: absolute;
	top: 65%;
}

.match > .result {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 45%;
	display: none;
}

.result > div {
	font-size: 60px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.result > button {
	font-family: "Barlow Semi Condensed", sans-serif;
	color: hsl(229, 25%, 31%);
	background: white;
	height: 40px;
	width: 140px;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
}

.hide {
	opacity: 0;
}
