.wrapper-header-banner {
	border: 3px solid var(--neutral-header-outline);
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
	padding: 0 1rem 0 2rem;
	max-width: 700px;
	margin: 0 auto;
	align-items: center;
}

.wrapper-header-banner-headline {
	text-transform: uppercase;
	font-size: 38px;
}

.wrapper-score-tile {
	background-color: white;
	color: var(--neutral-score-text);
	height: 115px;
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	text-transform: uppercase;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
}

.score-number {
	color: var(--neutral-dark-text);
	font-size: 70px;
	margin-top: -15px;
}
